<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OTAMS" >
        <activity
            android:name=".PendingRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".ViewSessionsActivity"
            android:exported="false" />
        <activity
            android:name=".ManageAvailabilityActivity"
            android:exported="false" />
        <activity
            android:name=".AdminInboxActivity"
            android:exported="false" />
        <activity
            android:name=".AdminRejectActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterTutorActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterStudentActivity"
            android:exported="false" />
        <activity
            android:name=".TutorDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".StudentDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".SearchTutorActivity"
            android:exported="false" />
        <activity
            android:name=".StudentSessionsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>